<!-- Metadata -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Title -->
<% if (!page) { %>
<title>MC Zipper</title>
<% } else { %>
<title><%= page %> | MC Zipper</title>
<% } %>

<!-- Tailwind CSS -->
<link rel="stylesheet" href="/static/tailwind.css">

<!-- Styles -->
<link rel="stylesheet" href="/static/style.css">

<!-- Flowbite -->
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css">
 <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>